@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);


#ext_menu-0 .navbar-toggler {
  color: #0275d8;
}
#ext_menu-0 .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}
#social-buttons2-4 .mbr-section-title {
  font-size: 24px;
}
#contacts3-5 STRONG {
  font-size: 12px;
}
#contacts3-5 P {
  font-size: 14px;
  font-family: 'Playfair Display', sans-serif;
}



#ext_menu-b .navbar-toggler {
  color: #0275d8;
}
#ext_menu-b .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}
#msg-box4-14 .lead P {
  font-family: 'Playfair Display', sans-serif;
}
#pricing-table1-c DIV {
  color: #bbe8cc;
}
#contacts3-e STRONG {
  font-size: 12px;
}
#contacts3-e P {
  font-size: 14px;
  font-family: 'Playfair Display', sans-serif;
}


#ext_menu-6 .navbar-toggler {
  color: #0275d8;
}
#ext_menu-6 .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}
#msg-box4-15 .lead BLOCKQUOTE {
  text-align: center;
}
#contacts3-7 STRONG {
  font-size: 12px;
}
#contacts3-7 P {
  font-size: 14px;
  font-family: 'Playfair Display', sans-serif;
}


#ext_menu-f .navbar-toggler {
  color: #0275d8;
}
#ext_menu-f .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}
#testimonials1-i .card-block DIV {
  text-align: center;
}
#testimonials1-i .card-block I {
  text-align: center;
}
#contacts3-g STRONG {
  font-size: 12px;
}
#contacts3-g P {
  font-size: 14px;
  font-family: 'Playfair Display', sans-serif;
}


#ext_menu-j .navbar-toggler {
  color: #0275d8;
}
#ext_menu-j .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}
#testimonials1-k .card-block DIV {
  text-align: center;
}
#testimonials1-k .card-block I {
  text-align: center;
}
#contacts3-l STRONG {
  font-size: 12px;
}
#contacts3-l P {
  font-size: 14px;
  font-family: 'Playfair Display', sans-serif;
}


#ext_menu-m .navbar-toggler {
  color: #0275d8;
}
#ext_menu-m .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}
#testimonials1-n .card-block DIV {
  text-align: center;
}
#testimonials1-n .card-block I {
  text-align: center;
}
#contacts3-o STRONG {
  font-size: 12px;
}
#contacts3-o P {
  font-size: 14px;
  font-family: 'Playfair Display', sans-serif;
}


#ext_menu-p .navbar-toggler {
  color: #0275d8;
}
#ext_menu-p .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}
#testimonials1-q .card-block DIV {
  text-align: center;
}
#testimonials1-q .card-block I {
  text-align: center;
}
#contacts3-r STRONG {
  font-size: 12px;
}
#contacts3-r P {
  font-size: 14px;
  font-family: 'Playfair Display', sans-serif;
}


#ext_menu-s .navbar-toggler {
  color: #0275d8;
}
#ext_menu-s .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}
#testimonials1-t .card-block DIV {
  text-align: center;
}
#testimonials1-t .card-block I {
  text-align: center;
}
#contacts3-u STRONG {
  font-size: 12px;
}
#contacts3-u P {
  font-size: 14px;
  font-family: 'Playfair Display', sans-serif;
}


#ext_menu-11 .navbar-toggler {
  color: #0275d8;
}
#ext_menu-11 .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}
#testimonials1-12 .card-block DIV {
  text-align: center;
}
#testimonials1-12 .card-block I {
  text-align: center;
}
#contacts3-13 STRONG {
  font-size: 12px;
}
#contacts3-13 P {
  font-size: 14px;
  font-family: 'Playfair Display', sans-serif;
}


#ext_menu-v .navbar-toggler {
  color: #0275d8;
}
#ext_menu-v .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}
#testimonials1-w .card-block DIV {
  text-align: center;
}
#testimonials1-w .card-block I {
  text-align: center;
}
#contacts3-x STRONG {
  font-size: 12px;
}
#contacts3-x P {
  font-size: 14px;
  font-family: 'Playfair Display', sans-serif;
}


#ext_menu-y .navbar-toggler {
  color: #0275d8;
}
#ext_menu-y .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}
#testimonials1-z .card-block DIV {
  text-align: center;
}
#testimonials1-z .card-block I {
  text-align: center;
}
#contacts3-10 STRONG {
  font-size: 12px;
}
#contacts3-10 P {
  font-size: 14px;
  font-family: 'Playfair Display', sans-serif;
}


#ext_menu-16 .navbar-toggler {
  color: #0275d8;
}
#ext_menu-16 .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}
#testimonials1-17 .card-block DIV {
  text-align: center;
}
#testimonials1-17 .card-block I {
  text-align: center;
}
#contacts3-18 STRONG {
  font-size: 12px;
}
#contacts3-18 P {
  font-size: 14px;
  font-family: 'Playfair Display', sans-serif;
}


#ext_menu-19 .navbar-toggler {
  color: #0275d8;
}
#ext_menu-19 .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}
#testimonials1-1a .card-block DIV {
  text-align: center;
}
#testimonials1-1a .card-block I {
  text-align: center;
}
#contacts3-1b STRONG {
  font-size: 12px;
}
#contacts3-1b P {
  font-size: 14px;
  font-family: 'Playfair Display', sans-serif;
}


#ext_menu-1c .navbar-toggler {
  color: #0275d8;
}
#ext_menu-1c .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}
#testimonials1-1d .card-block DIV {
  text-align: center;
}
#testimonials1-1d .card-block I {
  text-align: center;
}
#contacts3-1e STRONG {
  font-size: 12px;
}
#contacts3-1e P {
  font-size: 14px;
  font-family: 'Playfair Display', sans-serif;
}
